.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #007BE0;
    text-align: center;
}
#menubar {
    margin-top: -20px;
}
#menubar > ul {
    border-top: 5px solid #007BE0;
    list-style: none;
    text-align: center;
    padding: 10px;
    background-color: #454545;
}
#menubar > ul > a {
    text-decoration: none;
}
#menubar > ul > a > li {
    display: inline;
    padding: 12px 50px 12px 50px;
    font-size: 20px;
    color: white;
}
#menubar > ul > a > li:hover {
    background-color: #007BE0;
    cursor: pointer;
}
.profile {
    margin-left: auto;
    text-align: center;
    max-width: 60%;
}
.profile-img {
    max-width: 150px;
    border: 5px solid #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.account-menu {
    margin-left: auto;
    list-style: none;
    text-align: left;
    color:white;
    background-color: #454545;
    max-width: 60%;
    border-radius: 5px;
    padding: 7px 0 1px 0;
}
.account-menu > ul > a {
    text-decoration: none;
}
.account-menu > ul > a > li {
    padding: 3px 5px 3px 5px;
    list-style: none;
    color: white;
    width: 80%;
}
.account-menu > ul > a > li:hover {
    background-color: #007BE0;
    cursor: pointer;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.active {
    background-color: #007BE0;
}